<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^taobaoimg/(.*).(jpg|png|jpeg|gif)$ http://img04.taobaocdn.com/$1.$2 [P]
    RewriteRule ^all/$ / [R=301,L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>